.header {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 72px;
  padding: 10px 20px;
  border-radius: 16px;
  height: 56px;
  background-color: #00778b;
  opacity: 0.85;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

@media (min-width: 769px) {
  .loggedIn {
    max-width: 300px;
  }

  .loggedOut {
    max-width: 435px;
  }

  .header {
    max-width: 435px;
  }
}

.hamburger {
  font-size: 36px;
  cursor: pointer;
  color: #d9ebee;
  margin-left: auto;
}

.mobile {
  background-color: transparent;
}
