.container {
  padding: 0 16px;
}

@media (min-width: 375px) {
  .container {
    padding: 0 24px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 48px;
  }

  .wrap {
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: 16px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0 64px;
  }

  .wrap {
    grid-template-columns: 3fr 1fr;
  }
}

.buttonWrap {
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 24px;
}

.icon {
  width: 60px;
  height: 60px;
}
