.container {
  padding: 0 16px;
}

@media (min-width: 375px) {
  .container {
    padding: 0 24px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 48px;
  }

  .wrap {
    display: flex;
    gap: 16px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0 64px;
  }
}

.buttonWrap {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 118, 139, 0.5);
  height: 120px;
  border-radius: 16px;
}

.icon {
  width: 70px;
  height: 70px;
}
