.container {
  padding: 0 16px;
}

@media (min-width: 375px) {
  .container {
    padding: 0 24px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 48px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0 64px;
  }
}

.wrap {
  display: flex;
}
