.wrap {
  height: 26px;
}

.errorMessage {
  color: red;
  font-size: 12px;
}

.formContainer {
  margin: 0 auto;
  border-radius: 28px;
  padding: 40px;
  width: 570px;
  background-color: #d9ebee;
}

.inputField {
  border-radius: 12px;
  width: 100%;
  height: 50px;
  padding-left: 8px;
  border: none;
  margin-top: 8px;
}

.passwordInputWrap {
  position: relative;
}

.changeVisibleBtn {
  position: absolute;
  border: none;
  background-color: inherit;
  right: 2%;
  top: 35%;
}

.iconEye {
  width: 25px;
  height: 25px;
  stroke: #00778b;
}

.submitButton {
  display: block;
  background-color: #00778b;
  border: none;
  border-radius: 16px;
  padding: 16px 170px;
  width: 100%;
  height: 54px;
  font-size: 18px;
  color: #f5f5f5;
}

.submitButton:hover {
  background-color: #005e6e;
}

@media (max-width: 1024px) {
  .formContainer {
    width: 500px;
    padding: 30px;
  }

  .inputField {
    height: 45px;
  }

  .submitButton {
    padding: 14px 140px;
    height: 50px;
    font-size: 16px;
  }
  .iconEye {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 600px) {
  .formContainer {
    width: 400px;
    padding: 20px;
    border-radius: 20px;
  }

  .inputField {
    height: 40px;
  }

  .submitButton {
    padding: 12px 110px;
    height: 45px;
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .formContainer {
    width: 300px;
  }
  .iconEye {
    width: 15px;
    height: 15px;
  }
}
