.creators {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  font-weight: 600;
  font-size: 14px;
  color: #fafafa;
  margin-bottom: 6px;
}

.text {
  font-weight: 400;
  font-size: 12px;
  color: #fafafa;
}
