.contact {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  background-color: #dadada;
  border-radius: 6px;
  height: 70px;
}

.contactName {
  font-weight: bold;
}

.contactNumber {
  color: #666;
}

.button {
  cursor: pointer;
  border: none;
  background-color: #dadada;
}

.icon {
  width: 36px;
  height: 36px;
  fill: #dc0007;
}

.pencil {
  width: 36px;
  height: 36px;
  fill: #0080dc;
}

.pencil:hover {
  fill: #005089;
}

.icon:hover {
  fill: #a90006;
}

.data {
  margin-right: auto;
}
