.box {
  display: flex;
  gap: 64px;
}

.link {
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  line-height: 1.16667;
  color: #fafafa;
}

.link:hover {
  color: #4482d7;
}
