* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Titillium Web";
  src: url("./fonts/TitilliumWeb-Regular.woff2") format("woff2"),
    url("./fonts/TitilliumWeb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #000;
  background-color: #002a3e;
  background: url("/img/bgImg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95.7vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input:focus {
  border: 1px solid #00778b;
  outline: none;
  caret-color: #00778b;
}
