.contactList {
  display: flex;
  gap: 24px 32px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.contactItem {
  padding: 16px;
  display: flex;
  align-items: center;
  background-color: #d9ebee;
  border-radius: 16px;
  width: 310px;
  height: 96px;
}
