.global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

.container {
  margin-top: auto;
  margin-bottom: auto;
}

.desc {
  font-weight: 600;
  font-size: 36px;
  color: #fafafa;
}

.title {
  font-weight: 600;
  font-size: 48px;
  color: #fafafa;
  margin-bottom: 24px;
}
