.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 6%;
  left: 86%;
}

.button {
  border-radius: 8px;
  padding: 12px 24px;
  width: 124px;
  height: 40px;
  background-color: #b31818;
  border: none;
}

.button:hover {
  background-color: #841c1c;
}
