.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 6%;
  left: 90%;
}

.button {
  display: block;
  padding: 10px;
  background-color: #c52c2c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #841c1c;
}
